* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 18px;
    line-height: 2em;
}


/* header 시작 */

#header_wrap {
    background-color: #fff;
    /* color: #fff; */
    position: fixed;
    top: center;
    width: 100%;
    z-index: 2;
    box-shadow: #00000033 1px 1px 10px;
}

.header {
    width: 1520px;
    height: 84px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>img {
    display: block;
}

.gnb {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
}

.gnb>li>a {
    display: block;
    width: 100px;
    padding: 14px 0;
    margin: 20px 20px 0 20px;
}

.util {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 141px;
    margin-top: 14px;
    background: url(../img/menu_1_s.png) no-repeat top 0 right 44px;
}

.util li:nth-child(2) {
    margin-right: 14px;
}

/* hover */

#header_wrap:hover {
    background-color: #fff;
    color: #000;
}

.gnb li:hover {
    color: #74b754;
    background: url(../img/menu_hover_s.png) no-repeat top 18px center;
}

.util li img{
    display: block;
}

.util li:hover img {
    opacity: 0%;
}

.util li:nth-child(1):hover {
    background-image: url(../img/icon_search\ 1\ hover.png);
}

.util li:nth-child(2):hover {
    background-image: url(../img/icon_cart\ 1\ hover.png);
}

.util li:nth-child(3):hover {
    background-image: url(../img/icon_user\ 1\ hover.png);
}


/* header 끝 */



/* bg 시작 */


/* #bg{
    width: 100%;
    margin: 0 auto;
}
#bg>div>video{
    width: 100%;
    display: block;
} */

/* .bg_v video{ position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;}
.bg_v{
    display:block;
    overflow: hidden;
    height: 867px;
    position:relative;} */

 #bg>div{
    background: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 1080px;
 }

/* .bg_v{
        width: 100%;
        height: 960px;
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: center;
        z-index: 0;
} */


/* bg 끝 */


#circle_bg{
    width: 100%;
    height: 163px;
    margin: 0 auto;
    /* background-color: #74b754; */
    background: url(../img/circle_bg-.png);
    background-size: cover;
    background-position: center;
    height: 163px;
    position: relative;
}

/* #circle_bg div{
    background: url(../img/circle_bg-.png);
    background-size: cover;
    background-position: center;
    height: 163px;
} */


/* section1 시작 */

#section1_wrap{
    width: 100%;
    /* background-color: #fff; */
}

.section1_wrap2{
    width: 1200px;
    margin: 0 auto;
    /* position: relative; */
    background-color: #fff;
}
.section1{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    top: 0;
    left: 0; */

    /* 포지션 제외 시 괜찮음
    해결할 것 */
/
}

.logo_green{
    width: 347px;
    margin: 135px 0;
}

.slogan{
    width: 389px;
    margin-bottom: 31px;
}

.section1>img{
    display: block;
}

.brand {
    width: 100%;
    margin-top: 100px;
}

/* section1 끝 */



/* section2 시작 */

.section2 {
    width: 1200px;
    margin: 0 auto;
}

.section2>hr{
    margin: 135px 0;
}
.section2>h1{
    font-family: '';
    padding-bottom: 50px;
}
.section2 img {
    display: block;
    width: 100%;
}

.bi_bottom {
    margin-bottom: 135px;
}
/* section2 끝 */


















/* footer 시작 */
#footer_wrap{
    background-color: #ddd;
}
.footer {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.foot_1 {
    width: 60%;
}
.foot_1 ul{
    display: flex;
    width: 300px;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 15px;
}

.foot_1 p{
    font-size: 15px;
}

.foot_2{
    width: 20%;
}

.foot_2 h1{
    padding: 5px 0 10px 0;
}
.cs_time{
    font-size: 15px;
}

.foot_3{
    width: 12%;
}
.foot_util{
    display: flex;
    justify-content: space-between;
}

.foot_util li{
    width: 40px;
}

.foot_util li img{
    border-radius: 50px;
    width: 100%;
}


/* cs button */
.cs_button {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    border-radius: 50px;
    box-shadow: 3px 3px 5px #33333356;
    overflow: hidden;
}

.cs_button:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
}

.cs_button>img {
    display: block;
    width: 100%;
}


/* top button */
.top_button {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 100;
    border-radius: 50px;
    box-shadow: 3px 3px 5px #33333356;
    overflow: hidden;
}

.top_button:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
}

.top_button>img {
    display: block;
    width: 100%;
}

/* 축소 시 반응형 */

/* @media (max-width: 1520px) {
    .footer{
        width: 90%;
    }
} */
/* footer 끝 */